
#text1 {
    position: fixed;
    top: 20%;
    left: 40%;
}

#b1 {
    position: fixed;
    top: 20%;
    left: 51.5%;

}

#text2 {
    position: fixed;
    top: 30%;
    left: 40%;
}

#b2 {
    position: fixed;
    top: 30%;
    left: 51.5%;
}
#p1 {
    position: fixed;
    top: 20%;
    left: 60%;
}
#p2 {
    position: fixed;
    top: 30%;
    left: 60%;
}
#p3 {
    position: fixed;
    top: 40%;
    left: 60%;
}